In [1]:
import numpy as np
import h5py
import pandas as pd
import datetime as dt

In [2]:
with h5py.File('cushing_oklahoma/cushingPressure.hdf5','r') as hdf:
    ls = list(hdf.keys())
    print("List of datsets in this file: \n",ls)
    data = hdf.get("dpdt")
    dataset_cushingPressure = np.array(data)
    print("shape of dataset: \n",dataset_cushingPressure.shape)

List of datsets in this file:
 ['dpdt', 't']
shape of dataset:
 (25000,)

In [3]:
dataset_cushingPressure.shape

(25000,)

In [4]:
with h5py.File('cushing_oklahoma/cushingSeismic.hdf5','r') as hdf:
    ls = list(hdf.keys())
    print("List of datsets in this file: \n",ls)
    b_value = hdf.get("b_value")
    dpdt = hdf.get("dpdt")
    
    
#     dataset_cushingSeismic = np.array(data)
#     print("shape of dataset: \n",dataset_cushingSeismic.shape)

List of datsets in this file:
 ['b_value', 'b_value_epoch', 'depth', 'dpdt', 'easting', 'epoch', 'eventID', 'latitude', 'longitude', 'magnitude', 'northing']

In [5]:
# Dataset geyes from geysers_california
dataset_geyers = pd.read_csv('geysers_california/geysers.csv',header=1)
dataset_geyers_reordered = dataset_geyers[['epoch', 'latitude', 'longitude', 'depth', 'easting', 'northing', 'magnitude']]

In [6]:
dataset_geyers.head()

,depth,easting,epoch,latitude,longitude,magnitude,northing
0,2000.0,518411.601239,1.233530e+08,38.790000,-122.788000,3.50,4.293494e+06
1,3979.0,522624.160806,1.262527e+08,38.742667,-122.739667,3.14,4.288253e+06
2,2077.0,520198.315961,1.270916e+08,38.767500,-122.767500,2.79,4.291002e+06
3,4335.0,515965.103537,1.310117e+08,38.791333,-122.816167,2.82,4.293637e+06
4,3008.0,517308.025690,1.311477e+08,38.804500,-122.800667,3.63,4.295101e+06

In [8]:
dataset_geyers_reordered.head()
dataset_geyers_reordered.to_csv('geyers_reordered.csv',mode='w',index='None')

In [10]:
# Dataset decatur from decatur_illinois
dataset_decatur = pd.read_csv('decatur_illinois/decaturSeismic.csv')
dataset_decatur.head()

,b_value,b_value_epoch,depth,easting,epoch,event_id,latitude,longitude,magnitude,northing,source_radius,stress_drop
0,1.170935,1.329991e+09,1911.542213,337462.383,1.323939e+09,2.0,39.875313,-88.900634,-1.74,4415647.002,1.292289,0.0141
1,0.955601,1.330300e+09,1898.448644,337552.609,1.324167e+09,3.0,39.880334,-88.899718,-1.81,4416202.666,2.377324,0.0073
2,0.991938,1.330384e+09,1927.357513,337564.471,1.326163e+09,4.0,39.879892,-88.899567,-1.17,4416153.331,2.474855,0.0190
3,0.951056,1.330414e+09,1931.414203,337570.748,1.326244e+09,5.0,39.879616,-88.899486,-1.23,4416122.548,2.502286,0.0143
4,0.940638,1.330426e+09,1811.475160,337609.589,1.326526e+09,6.0,39.868442,-88.898723,-1.52,4414880.914,1.295337,0.0302

In [11]:
dataset_decatur_reordered = dataset_decatur[['epoch', 'latitude', 'longitude', 'depth', 'easting', 'northing', 'magnitude']]

In [12]:
dataset_decatur_reordered.to_csv('decatur_reordered.csv', mode='w', index='None')

In [13]:
dataset_decatur_injection = pd.read_csv('decatur_illinois/decaturInjection.csv')
dataset_decatur_injection_reordered= pd.DataFrame(dataset_decatur_injection['epoch'])
dataset_decatur_injection_reordered['injection'] = dataset_decatur_injection['flow_rate']
dataset_decatur_injection_reordered.to_csv('decatur_injection_reordered.csv')

In [14]:
dataset_kansas = pd.read_csv('kansas/kansasSeismicDetection.csv')
dataset_kansas.head()

,depth,easting,epoch,eventID,latitude,longitude,magnitude,northing
0,5.950,597537.075641,1.395915e+09,1.0,37.19420,-97.90100,1.46,4.116981e+06
1,8.490,601907.403939,1.396163e+09,2.0,37.09220,-97.85330,1.17,4.105716e+06
2,8.490,601907.403939,1.396164e+09,3.0,37.09220,-97.85330,1.45,4.105716e+06
3,8.539,602026.605367,1.396164e+09,4.0,37.09278,-97.85195,1.69,4.105781e+06
4,8.490,601907.403939,1.396168e+09,5.0,37.09220,-97.85330,1.48,4.105716e+06

In [15]:
dataset_kansas_reordered = dataset_kansas[['epoch', 'latitude', 'longitude', 'depth', 'easting', 'northing', 'magnitude']]

In [16]:
dataset_kansas_reordered.to_csv('kansas_reordered.csv',mode='w',index='None')

In [17]:
dataset_geyser_injection = pd.read_excel('geysers_california/geysers_fluid_injection.xls')

In [18]:
dataset_geyser_injection

,Year,Month,"Production (kilograms times 1,000)","Injection (kilograms times 1,000)"
0,1969,5,5.716140e+05,2.983200e+04
1,1969,6,5.502270e+05,6.076600e+04
2,1969,7,5.700110e+05,6.110900e+04
3,1969,8,6.056120e+05,4.627700e+04
4,1969,9,6.243150e+05,5.106100e+04
...,...,...,...,...
629,2021,10,4.121020e+06,2.944824e+06
630,2021,11,4.198204e+06,2.920091e+06
631,2021,12,4.306343e+06,3.969918e+06
632,2022,1,4.382633e+06,4.119455e+06
633,2022,2,3.941216e+06,3.203905e+06

In [19]:
dataset_geyser_injection['Day'] = 15

In [22]:
dataset_geyser_injection['DateTime'] = dataset_geyser_injection[['Year', 'Month','Day']].apply(lambda s : dt.datetime(*s),axis = 1)

In [23]:
dataset_geyser_injection['DateTime'].apply(lambda s: s - dt.datetime(1970,1,1))

0      -231 days
1      -200 days
2      -170 days
3      -139 days
4      -108 days
         ...
629   18915 days
630   18946 days
631   18976 days
632   19007 days
633   19038 days
Name: DateTime, Length: 634, dtype: timedelta64[ns]

In [25]:
dataset_geyser_injection['epoch'] = (dataset_geyser_injection['DateTime'].apply(lambda s: s - dt.datetime(1970,1,1))).dt.total_seconds()

In [26]:
dataset_geyser_injection_reordered = pd.DataFrame(dataset_geyser_injection['epoch'])

In [27]:
dataset_geyser_injection_reordered

            epoch
0   -1.995840e+07
1   -1.728000e+07
2   -1.468800e+07
3   -1.200960e+07
4   -9.331200e+06
..            ...
629  1.634256e+09
630  1.636934e+09
631  1.639526e+09
632  1.642205e+09
633  1.644883e+09

[634 rows x 1 columns]

In [28]:
dataset_geyser_injection_reordered['injection'] = dataset_geyser_injection['Injection (kilograms times 1,000)']

In [29]:
dataset_geyser_injection_reordered['production'] = dataset_geyser_injection['Production (kilograms times 1,000)']

In [34]:
dataset_geyser_injection_reordered.to_csv('geyser_injection_reordered.csv',index='None')

In [31]:
dataset_cushing_injection = pd.read_csv('cushing_oklahoma/cushingClusterCenterDPDT.csv')

In [32]:
dataset_cushing_injection_reordered = pd.DataFrame(dataset_cushing_injection['epoch'])
dataset_cushing_injection_reordered['injection'] = dataset_cushing_injection['flow_rate']

In [33]:
dataset_cushing_injection_reordered
dataset_cushing_injection_reordered.to_csv('cushing_injection_reordered.csv',index='None')